.nav-bar {
  display: flex;
  height: 60px;
  margin-top: 20px;
  align-items: center;
}
.nav-bar div {
  /* border: 1px #ccc solid; */
  padding: 20px;
}
.nav-bar-logo {
  color: var(--primary);
  font-size: 1.5rem;
  letter-spacing: 1px;
  font-weight: 800;
  vertical-align: middle;
  flex: 1;
}
.nav-bar-navigation {
  color: var(--secondary);
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
  font-weight: 700;
  flex: 1;
}
