.nft {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.nft img {
  max-width: 50%;
}

.nft div {
  display: flex;
  flex-direction: column;
  padding: 30px;
  justify-content: center;
}

.nft button {
  /* max-width: 80%; */
  margin: 50px;
  padding: 10px;
}
