.open-gallery {
  text-align: center;
}

.open-gallery-title {
  margin-top: 60px;
  font-size: 2.6rem;
  text-align: center;
}

.open-gallery-desc {
  text-align: center;
}

.royalties {
  border: 1px #ccc solid;
}
