.select-commons {
  margin-top: 60px;
  font-size: 1.6rem;
  text-align: center;
}

.select-commons-desc {
  text-align: center;
}

.deploy-commons {
  margin-top: 60px;
  font-size: 1rem;
  text-align: center;
}